
<p>Hello METANIT.COM</p>

<ul>
    @for(user of users; track $index){
        <li>
            <p>Имя пользователя: {{user?.name}}</p>
            <p>Возраст пользователя: {{user?.age}}</p>
        </li>

        <li>{{user?.name}} ({{user?.age}})</li>
}
</ul>

<!-- <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
    <div>
        <label>Имя</label><br>
        <input name="name"   formControlName="userName" />

        @if(myForm.controls["userName"].invalid && myForm.controls["userName"].touched){
            <div class="alert">Не указано имя</div>
        }
    </div>
    <div>
        <label>Email</label><br>
        <input name="email" formControlName="userEmail" />

        @if(myForm.controls["userEmail"].invalid && myForm.controls["userEmail"].touched){
            <div class="alert">Некорректный email</div>
        }
    </div>
    <div>
        <label>Телефон</label><br>
        <input name="phone" formControlName="userPhone" />

        @if(myForm.controls["userPhone"].invalid && myForm.controls["userPhone"].touched){
            <div class="alert">Некорректный номер телефона</div>
        }
    </div>
    <button [disabled]="myForm.invalid">Отправить </button>
</form> -->

<!-- <form  #myForm="ngForm" novalidate>
    <p>
        <label>Имя</label><br>
        <input name="name" [(ngModel)]="name" required />
    </p>
    <p>
        <label>Email</label><br>
        <input name="email" ngModel 
            required email />
    </p>
    <p>
        <label>Телефон</label><br>
        <input name="phone" ngModel 
            required pattern="[0-9]{10}" />
    </p>
    <button [disabled]="myForm.invalid" (click)="submit(myForm)">Добавить</button>
    <br>
    <input type="submit" [disabled]="myForm.invalid" value="Отправить" />
</form>
<p>Имя: {{myForm.value.name}}</p>
<p>Email: {{myForm.value.email}}</p>
<p>Phone: {{myForm.value.phone}}</p> -->

<!-- <div> 
    <div>
        <label>Имя</label><br>
        <input name="name" [(ngModel)]="user.name" #name="ngModel" required />
        <div [hidden]="name.valid || name.untouched" class="alert">
          Не указано имя
        </div>
    </div>
    <div>
        <label>Email</label><br>
        <input name="email" [(ngModel)]="user.email" #email="ngModel" 
            required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" />
        <div [hidden]="email.valid || email.untouched" class="alert">
          Некорректный email
        </div>
    </div>
    <div>
        <label>Телефон</label><br>
        <input  name="phone" [(ngModel)]="user.phone" #phone="ngModel" 
            required pattern="[0-9]{11}" />
        <div [hidden]="phone.valid || phone.untouched" class="alert">
          Некорректный телефон
        </div>
    </div>
    <button [disabled]="name.invalid || email.invalid || phone.invalid" 
    (click)="addUser()">Добавить</button>
</div> -->

<!-- <div> 
    <p>
        <label>Имя пользователя</label><br>
        <input name="name" [(ngModel)]="user.name" #userName="ngModel"/>
        <input name="name" [(ngModel)]="user.name" 
            #userName="ngModel" (change)="onNameChange()" />
    </p>
    <p>
        <label>Возраст</label><br>
        <input type="number" name="age" [(ngModel)]="user.age" #userAge="ngModel"/>
    </p>
    <p>
        <label>Место работы</label><br>
        <select name="company" [(ngModel)]="user.company" #userCompany="ngModel">
        @for(comp of companies; track $index){
            <option [value]="comp">
                {{comp}}
            </option>
        }
        </select>
    </p>
    <button (click)="logUser(userName, userAge, userCompany)">Логгировать</button>
</div>
<div>
    <p>{{userName.name}} : {{userName.model}}</p>
    <p>{{userAge.name}} : {{userAge.model}}</p>
    <p>{{userCompany.name}} : {{userCompany.model}}</p>
</div> -->
<!-- <div> 
    <p>
        <label>Имя пользователя</label><br>
        <input name="name" [(ngModel)]="newUser.name" />
    </p>
    <p>
        <label>Возраст</label><br>
        <input type="number" name="age" [(ngModel)]="newUser.age" />
    </p>
    <p>
        <label>Место работы</label><br>
        <select name="company" [(ngModel)]="newUser.company">
        @for(comp of companies; track $index){
            <option [value]="comp">
                {{comp}}
            </option>
        }
        </select>
    </p>
    <button (click)="addUser()">Добавить</button>
</div>
<div>
<h3>Добавленные элементы</h3>
<ul>
@for(u of users; track $index){
    <li>{{u.name}} ({{u.company}}) - {{u.age}}</li>
}
</ul>
</div> -->

<!-- <div> 
    <p>
        <label>Имя пользователя</label><br>
        <input name="name" [(ngModel)]="name" />
    </p>
    <p>
        <label>Возраст</label><br>
        <input type="number" name="age" [(ngModel)]="age" />
    </p>
    <p>
        <label>Место работы</label><br>
        <select name="company" [(ngModel)]="company">
        @for(comp of companies; track $index){
            <option [value]="comp">
                {{comp}}
            </option>
        }
        </select>
    </p>
    <button (click)="addUser()">Добавить</button>
</div>
<div>
<h3>Добавленные элементы</h3>
<ul>
@for(u of users; track $index){
    <li>{{u.name}} ({{u.company}}) - {{u.age}}</li>
}
</ul>
</div> -->

<!-- <div>
    <div><input [(ngModel)]="name" />
        <button (click)="addItem(name)">Добавить</button>
    </div>
    <ul>
    @for(item of items; track $index){
        <li>{{item}}</li>
    }
    </ul>
</div> -->

<!-- <p *ngIf="condition"> Привет мир </p>
<p *ngIf="!condition"> Пока мир  </p>
<button (click)="toggle()">Toggle</button>

<br>
<div *ngIf="condition; then thenBlock else elseBlock"></div>   
 <ng-template #thenBlock>Then template</ng-template>  
 <ng-template #elseBlock>Else template</ng-template>    
 <button (click)="toggle()">Toggle</button>


 <ul>
    <li *ngFor="let item of items; let i = index">{{i+1}}.{{item}}</li>
  </ul>

  <div>
    <p *ngFor="let item of items; let i = index">{{i+1}}.{{item}}</p>
</div>

<ng-template [ngIf]="condition">
    <p>  Привет мир  </p>
</ng-template>
<ng-template [ngIf]="!condition">
    <p> Пока мир  </p>
</ng-template>


<div [ngSwitch]="count">
    <ng-template ngSwitchCase="1">{{count * 10}}</ng-template>
    <ng-template ngSwitchCase="2">{{count * 100}}</ng-template>
    <ng-template ngSwitchDefault>{{count * 1000}}</ng-template>
  </div> -->

  <!-- <p *while="condition">
    Первый параграф
  </p>
  <p *while="!condition">
    Второй параграф
  </p>
  <button (click)="toggle()">Toggle</button> -->
<!-- <div [ngClass]="{verdanaFont:isVerdana}">
    <h1>Hello Angular</h1>
    <p [ngClass]="{segoePrintFont:isSegoe}">
        Приложение Angular состоит из компонентов
    </p>
</div>

<div [ngClass]="{invisible: visibility}">
    <h1>Hello Angular 17</h1>
    <p>
        Приложение Angular состоит из компонентов
    </p>
</div>
<button (click)="toggle()">Toggle</button>

<div>
    <p bold>Hello Angular</p>
    <p>Приложение Angular состоит из компонентов</p>
 </div>


 <div>
    <p bold selectedSize="28px" [defaultSize]="'14px'">Hello Angular</p>
    <p>Приложение Angular состоит из компонентов</p>
 </div> -->


 
<!-- <p #nameText>{{name}}</p>
<p>{{nameText.textContent}}</p>
<button (click)="change()">Изменить</button> -->


 <!-- <p>{{userName.textContent}}</p>
 <input type="text" [(ngModel)]="name" />
 <p #userName>{{ name }}</p>

 <child-comp #counter></child-comp>
                <button (click)="counter.increment()">+</button>
                <button (click)="counter.decrement()">-</button> -->

<!-- <input [(ngModel)]="op" />
    <p>a = {{a}}  b = {{b}}</p>
  <p>Результат: 
      @switch (op) {
        @case ("+") {
          {{ a + b }}
        }
        @case ("-") {
          {{ a - b }}
        }
        @case ("*") {
          {{ a * b }}
        }
        @default {
          Неизвестная операция
        }
      }
    </p> -->

    <!-- <ul>
        @for (i of es; track i ){
            <li>{{i}}</li>
        }
    </ul> -->

<!-- <label>Введите имя:</label>
<input [(ngModel)]="name" placeholder="name">
<br>
<label>Введите возраст:</label>
<input type="text" [value]="age" />
<p [textContent]="age"></p>
<input value="{{text_1}}" />

<p>Количество кликов {{count}}</p>
<button (click)="increase($event)">Click</button> -->

<!-- <h2>Hello from {{name}}</h2>
<child-comp><h2>Hello fromss {{name}}</h2></child-comp> -->


<!-- <child-comp [userName]="name" [userAge]="age"></child-comp> -->

<!-- <h2>Количество кликов: {{clicks}}</h2>
<child-comp (onChanged)="onChanged($event)"></child-comp> -->

<!-- <child-comp [(userName)]="name"></child-comp>
<div>Выбранное имя: {{name}}</div> -->

<!-- <h2>Hello AppComponent</h2>
    <input type="text" [(ngModel)]="name" />
        <br>
    <input type="text" [(ngModel)]="age" /> -->

<!-- <h1>Добро пожаловать {{name}}!
    <p>Имя: {{name}}</p>
    <p>Возраст: {{age}}</p> -->

<!-- <div [class.redbox]="isRed"></div>
<div [class.redbox]="!isRed"></div>
<input type="checkbox" [(ngModel)]="isRed" />

<div [style.backgroundColor]="isRed? 'red' : 'green'"></div>
<div [style.background-color]="!isRed ? 'red' : 'green'"></div>
<input type="checkbox" [(ngModel)]="isRed" /> -->

<!-- <div>
    <input [(ngModel)]="age" min="1" type="number" />
    <h2>@if(age>0 && age < 110){
      Your age is {{age}}
    } @else {
      age is undefined
    }</h2>
</div> -->

<!-- <ul>
    @for (item of items; track item.id) {
        <li>{{ item.name }}</li>
    }
 </ul> -->


<!-- <div class="list_pay">
    <h1> Список покупок </h1>
        <div>
            <p>
                <label>Товар</label><br>
                <input [(ngModel)]="text" />
            </p>
            <p>
                <label>Цена</label><br>
                <input type="number" [(ngModel)]="price" />
            </p>
            <button (click)="addItem(text, price)">Добавить</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Предмет</th>
                    <th>Цена</th>
                    <th>Куплено</th>
                </tr>
            </thead>
            <tbody>
            @for (item of items; track item.purchase) {
                <tr>
                    <td>{{item.purchase}}</td>
                    <td>{{item.price}}</td>
                    <td><input type="checkbox" [(ngModel)]="item.done" /></td>
                </tr>
            }
            </tbody>
        </table>
</div> -->