.list_pay{
    display: block;
    margin-left:  auto;
    margin-right:  auto;
    border: 1px solid red;
    width: 800px;
    height: 500px;
    padding: 20px;
    font-size: 24px;
}
h1, h2{color:navy;}
p{font-size:13px; font-family:Verdana}

:host {
    font-family: Verdana;
    color: #555;
}


        .alert{ color:red}
        div {margin: 5px 0;}    
        input.ng-touched.ng-invalid {border:solid red 2px;}
        input.ng-touched.ng-valid {border:solid green 2px;}

      

.verdanaFont{font-size:13px; font-family:Verdana;}
.segoePrintFont{font-size:14px; font-family:"Segoe Print";}

.invisible{display:none;}
/* div {width:50px; height:50px; border:1px solid #ccc} */
/* .redbox{background-color:red;} */